<%= link_to root_path, class: "btn btn-primary" do %> Previous page <% end %>
<div class="main-body">
<div>
  <h2 class="main-h2">New Group</h2>
</div>
<div class="form">

<%= render "form", group: @group %>

</div>
</div>
