<div class="operation-class" id="<%= dom_id operation %>">
  <div>
    <strong>
      <%= operation.name.capitalize() %>
    </strong>
      <small>
      <%= operation.updated_at.to_date %>
      </small>
    
    <span>
      <strong>$<%= operation.amount %></strong>
    </span>
  </div>
</div>