
<div class="">
  <div class="">
  <%= link_to :back do %> < Cancel <% end %>
<h1 class="">New operation</h1> 
  </div>
  <div class="">
    <%= render "form", operation: @operation %>
  </div>
</div>