  <%= link_to :back, class: "btn btn-primary" do %>Previous Page<% end %>

<div class="main-body">
  
<h2 class="main-h">New operation</h2> 

  <div>
    <%= render "operations/form", operation: @operation %>
  </div>
</div>